.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-bottom: 60px;
}
.services-title{
    position: relative;
}
.services-title h1{
    font-size: 60px;
    font-weight: 600;
    /* padding: 0px 50px; */
    
}
.services-title img{
    width: 170px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    margin-top: 20px;
}
.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    border: 2px solid white;
    padding: 45px 30px;
    gap: 20px;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
    height: 260px;
    width: 235px;
    overflow: hidden;
    margin-bottom: 60px;
}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 80px;
    margin: 10px 80px;
}
.services-format h3{
    font-size: 22px;
    font-weight: 600;
}
.services-format h2{
    font-size: 30px;
    font-weight: 800;
    background: linear-gradient(270deg, #df8908 50%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-format p{
    color: #d4d4d4;
    font-size: 20px;
    /* line-height: 10px; */
    
}
.services-readmore{
    display: flex;
    align-items: center;
}
.services-readmore p{
    color: #d4d4d4;
    font-size: 20px;
}
.services-readmore img{
    width: 20px;
    margin-left: 10px;
}
.services-format:hover{
    border: 2px solid #ff00FF;
    background-image: linear-gradient(45deg, #3f0028, #582300);
    transform: scale(1.05);
    transition: 0.4s;
}
@media(max-width:750px){
    .services{
        margin: 20px 70px;
    }
    .services-title h1{
        font-size: 50px;
    }
    .services-title img{
        width: 130px;
    }
    .services-container{
        grid-template-columns: 1fr 1fr;
        margin: 20px 40px;
        gap: 15px;
    }
    .services-format{
        height: 250px;
        width: 225px;
    }
    .services-format h3{
        font-size: 20px;
    }
    .services-format h2{
        font-size: 26px;
    }

}
@media(max-width:450px){
    .services-title h1{
        font-size: 42px;
    }
    .services-title img{
        width: 120px;
        
        /* margin-bottom: 10px; */
    }
   .services-container{
    grid-template-columns: 1fr;
   }
   .services-format{
    margin-bottom: 30px;
    padding: 40px 20px;
    
   }
   .services-format p{
    font-size: 18px;
   }
}

